<!--<input type="x" class="search">-->
<!--<button class="search"></button>-->



<form [formGroup]="form" (submit)="send()">

  <select class="id-type" formControlName="idType">
    <option value="" selected>Select an ID type</option>
    <option value="CC">CC</option>
    <option value="CE">CE</option>
    <option value="NIT">NIT</option>
  </select>
  <input type="text" class="id-number" formControlName="idNumber" placeholder="enter your ID number">
  <input type="text" class="name" formControlName="name" placeholder="enter your name">
  <input type="text" class="last-name" formControlName="lastName" placeholder="enter your last name">
  <input type="email" class="email" formControlName="email" placeholder="enter your email address">
  <input type="date" class="date-of-birth" formControlName="dataOfBirth" placeholder="date of birth">
  <button class="create" type="submit">Send</button>

</form>


