<div class="container py-5">
    <form style="max-width: 25rem" class="mx-auto" [formGroup]="form">
        <h1 class="mb-5 text-center">Log in section</h1>
        <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control">
        </div>
        <div class="d-grid">
            <button class="btn btn-lg btn-primary">Log in</button>
        </div>
    </form>
</div>
