<div class="container">
  <!-- <div> is modify {{isModify}}</div> -->

  <form (submit)="send()" [formGroup]="form" >
    <div class="col-md-4" *ngIf="!isModify">
      <label for="validationDefault01" class="form-label requested-info">Provide client ID</label>
      <input type="number" class="form-control" id="validationDefault01" formControlName="clientId" >
    </div>
    <div class="mb-3">
      <label  class="form-label requested-info">Account type</label>
      <select class="form-select" aria-label="Default select example" formControlName="accountType" >
        <option selected>Choose an account</option>
        <option value="CHECKING">Checking</option>
        <option value="SAVINGS">Savings</option>
      </select>
    </div>
    <div class="mb-3">
      <label  class="form-label requested-info">Account Status</label>
      <select class="form-select" aria-label="Default select example" formControlName="accountStatus">
        <option selected>Choose an account</option>
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
        <option value="CANCELLED">Cancelled</option>
      </select>
    </div>
    <label  class="form-label requested-info">GMF Exempt</label>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="validationFormCheck2" name="GMF" [value]="true"  formControlName="GMF">
      <label class="form-check-label" for="validationFormCheck2">Yes</label>
    </div>
    <div class="form-check mb-3">
      <input type="radio" class="form-check-input" id="validationFormCheck3" name="GMF" [value]="false"   formControlName="GMF">
      <label class="form-check-label" for="validationFormCheck3">No</label>
    </div>
    <button type="submit" class="btn btn-primary">{{isModify ? 'Modify' : 'Create'}}</button>
  </form>
</div>
