<main class="main">
    <div class="main-section">
        <h1 class="section-content title">SANTIAGO OSORIO GONZÁlEZ</h1>
        <h2 class="section-content title">EMAIL ADDRESS</h2>
        <p class="section-content content">911sog@gmail.com</p>
        <h2 class="section-content title">CERTIFICATIONS AND SKILLS</h2>
        <ul class=" section-content content">
            <li>Psychologist</li>
            <li>Bilingual (English C1)</li>
            <li>FullStack Software Engineer</li>
            </ul>
            <a class="section-content" href="https://github.com/Memento96" target="_blank">
                <h2>Memento mori!! (Click here and visit the dungeon of my projects)</h2>
            </a>
            <p class="section-content description">I have been working in several areas related to Computer Science and for the
                past 3 years I have decided to work with code, <br> as it became a true passion. <br> I have worked
                with projects related to Fintech, WEB 3.0 integrations and Smart Contracts with Solidity <br> Click
                on my Github repository and check out my latest Open Source projects.</p>
    </div>
</main>
