<main class="main">
    <div class="main-section">
        <h1 class="section-content title">SANTIAGO OSORIO GONZÁLEZ</h1>
        <h2 class="section-content title">EMAIL ADDRESS</h2>
        <p class="section-content content">911sog@gmail.com</p>
        <h2 class="section-content title">CERTIFICATIONS AND SKILLS</h2>
        <ul class=" section-content content">
            <li>Psychologist</li>
            <li>Bilingual (English C1)</li>
            <li>FullStack Software Engineer</li>
            </ul>
            <a class="section-content" href="https://github.com/Memento96" target="_blank">
                <h2>Memento mori!! (Click here and visit the dungeon of my projects)</h2>
            </a>
            <p class="section-content description">I am a professional psychologist that has decided to become a software engineer and open myself to new challenges. <br> For this same reason I have worked hard selfstudying, watching videos and practicing as much as I can, so I become a Lead Software Engineer in the near future</p>
    </div>
</main>
