<div class="container">
    <p class="h1">Make a withdrawal</p>
    <form (submit)="send()" [formGroup]="form">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label requested-info requested-info">Sender Account ID</label>
            <input type="number" class="form-control" id="validationDefault01" required formControlName="sender">
        </div>
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label requested-info requested-info" >Description</label>
            <textarea name="" id="" class="form-control" cols="30" rows="10" placeholder="Write the transaction's description" formControlName="description"></textarea>
        </div>
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label requested-info requested-info">Withdrawal amount</label>
            <input type="number" class="form-control" id="validationDefault01" required formControlName="transactionAmount">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Complete withdrawal</button>
        <br>
        <div class="col-md-4">
            <button type="button" (click)="resetForm()" class="reset-button btn btn-warning">Reset form</button>
        </div> 
        <br>
        <div class="alert alert-danger" role="alert" *ngIf="error?.error.message">
            <span >{{error?.error.message}}</span>
        </div>
    </form>
</div>
